#wrapper{
    padding: 20px 20px 20px 40px;
}

.button{
    margin: 20px 0;
}
.fa{
    font-size: 16px;
}
.table{
    max-width: 900px;
}
.table td{
    vertical-align: middle;
}

.form{
    max-width: 700px;
}

.page-wrapper .form-container-signup-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-wrapper .form-container-signup-page .signup-form-container {
    background-color: #f1f5f9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 380px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-wrapper .form-container-signup-page .signup-form-container .headline {
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 40px;
}

.page-wrapper .form-container-signup-page .invalidInputFieldSignup {
    font-family: 'Roboto Slab', serif;
    color: #FF5C58;
    background-color: #F8D7DA;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 40px;
    display: none;
}


.page-wrapper .form-container-signup-page .signup-form-container .inputs {
    margin-bottom: 20px;
    width: 300px;
    height: 35px;
    border: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-left: 10px;
    outline-color: #0779E4;
}

.page-wrapper .form-container-signup-page .signup-form-container .signupButton {
    margin-top: 10px;
    background-color: #0779E4;
    border: none;
    border-radius: 50px;
    padding: 5px 110px;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px;
    cursor: pointer;
    transition: 0.3s linear;
}

.page-wrapper .form-container-signup-page .signup-form-container .login-link {
    text-decoration: none;
    color: #212121;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    margin-top: 10px;
}

.page-wrapper .form-container-signup-page .signup-form-container .signupButton:hover {
    background-color: tomato;
}

.page-wrapper .form-container-signup-page .signup-form-container .login-link:hover {
    text-decoration: underline;
    color: tomato;
}